#quests{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    position: static !important;
    z-index: auto !important;
}

#quests h1{
    font-size: 1.8rem;
    margin-top: 1.5rem;
}

#quests h3{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

hr {
    display: block;
    border: 0rem;
    height: 1rem !important;
    background: url('../../assets/rpgui/img/hr.png') repeat-x top left;
    opacity: 1;
}

.d-block w-100{
    width: 5rem;
}

.card-avatar{
    width: 15rem;
    height: 15rem;
    object-fit: contain;
    border: white solid .5rem;
    border-radius: 25%;
    outline: .25rem solid black;
}