/* -------------------------------- MENU BURGER -------------------------------- */
.navbar-toggler {
    border-style: solid;
    border-image-source: url("../../assets/rpgui/img/border-image-golden2.png");
    border-image-repeat: repeat;
    border-image-slice: 10 10 10 10;
    border-image-width: 1rem;
    border-width: .8rem;
    padding: 0rem;
    /* background */
    background: url("../../assets/rpgui/img/background-image-golden2.png") repeat repeat;
}

/* modal do menu hamburguer */
#offcanvasNavbar {
    height: 100vh;
    width: 100vh;

    display: flex;
    gap: 1rem;
    text-align: center;
    border-style: solid;
    border-image-source: url("../../assets/rpgui/img/border-image.png");
    border-image-repeat: repeat;
    border-image-slice: 8 8 8 8;
    border-image-width: 1.4rem;
    border-width: 1rem;
    padding: 0;

    /* internal border */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    /* background */
    background: url("../../assets/rpgui/img/background-image.png") repeat repeat;
    background-clip: padding-box;
    background-origin: padding-box;
    background-position: center;
}

.offcanvas-header{
    display: flex;
    flex-direction: row-reverse;
    margin: 1.5rem 1rem 2rem 0;
    padding: 0rem;
}

.btn-close{
    justify-self: flex-end;
    font-size: 2rem;
}

#burger-title{
    font-size: 2rem;
}

hr{
    align-self: center;
    margin-bottom: 2.5rem;
    width: 90%;
}

#offcanvas-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

#burger-btn {
    width: 25rem;
    height: 7.5rem;
    display: inline-block;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    outline: 0;
    image-rendering: pixelated;
    /* max-width: 100%; */
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
}

.navbar-toggler:focus,
.btn-close:focus,
.btn-close:active{
    box-shadow: none;
}

.navbar-toggler:hover,
.btn-close:hover,
.navbar-toggler:active,
.btn-close:active,
#burger-btn:hover, 
#offcanvasNavbar a:hover {
    cursor: url("../../assets/rpgui/img/cursor/point.png") 10 0,auto;
}


/* MEDIA QUERIES */
@media screen and (max-height: 320px) {
    #burger-title{
        font-size: 1.5rem;
    }
    hr{
        margin-bottom: .75rem;
    }
    #burger-btn {
        font-size: 1rem;
        width: 15rem;
        height: 5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    #offcanvasNavbar {
        height: 100vh;
        width: 50vw;
    }
    #offcanvas-btns{
        gap: .5rem;
    }
}

@media screen and (min-width: 576px){
    #burger-btn {
        width: 16.5rem;
        height: 6.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

}

@media (min-width: 768px) {
    #offcanvasNavbar {
        height: 100vh;
        width: 50vw;
    }
    #offcanvas-btns{
        gap: 1rem;
    }
}

@media (min-width: 992px) {
    #offcanvasNavbar {
        width: 50vw;
    }
    hr{
        margin-bottom: 1rem;
    }
    #burger-btn {
        width: 18rem;
        height: 5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    #offcanvas-btns{
        gap: 1.5rem;
    }
}

@media (min-width: 1200px) {

}