/* -------------------------------- MENU BURGER -------------------------------- */

.navbar-toggler {

    border-style: solid;
    border-image-source: url("../assets/rpgui/img/border-image-golden2.png");
    border-image-repeat: repeat;
    border-image-slice: 10 10 10 10;
    border-image-width: 1rem;
    border-width: .8rem;
    padding: 0rem;

    /* background */
    background: url("../assets/rpgui/img/background-image-golden2.png") repeat repeat;
}

/* modal do menu hamburguer */
#offcanvasNavbar {

    display: flex;
    gap: 1rem;

    border-style: solid;
    border-image-source: url("../assets/rpgui/img/border-image.png");
    border-image-repeat: repeat;
    border-image-slice: 8 8 8 8;
    border-image-width: 1.4rem;
    border-width: 1rem;
    padding: 0;

    /* internal border */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    /* background */
    background: url("../assets/rpgui/img/background-image.png") repeat repeat;
    background-clip: padding-box;
    background-origin: padding-box;
    background-position: center;
}

.offcanvas-header{
    display: flex;
    flex-direction: row-reverse;
    margin: 1.5rem 1rem 0 0;
    padding: 0rem;
}

.btn-close{
    justify-self: flex-end;
    font-size: 2rem;
}

#offcanvas-body{
    margin-top: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    gap: 1.5rem;
}

#burger-btn {
    width: 20rem;
    height: 6rem;
    display: inline-block;
    padding-left: 35px;
    padding-right: 35px;
    outline: 0;
    max-width: 100%;
    image-rendering: pixelated;
    font-family: 'Press Start 2P',cursive;
}

#burger-btn a{
    text-decoration: none;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
}

.navbar-toggler:focus,
.btn-close:focus,
.btn-close:active{
    box-shadow: none;
}

.navbar-toggler:hover,
.btn-close:hover,
.navbar-toggler:active,
.btn-close:active,
#burger-btn:hover, 
#burger-btn a:hover {
    cursor: url("../assets/rpgui/img/cursor/point.png") 10 0,auto;
}