@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

#banner {
    flex-direction: column;
    /* max-width: fit-content; */
    align-self: center;
    gap: 3rem;
}

#boas-vindas{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

#boas-vindas h1,
#boas-vindas h3 {
    align-self: center;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
    font-family: 'Press Start 2P', cursive;
    /* border-right: solid .3rem #D27D2C; */
}

#boas-vindas h1:nth-child(1){
    font-size: 1.8rem;
    /* Animation */
    animation: 
    animated-text 4s steps(29,end) 1s 1 normal both,
    animated-cursor 600ms steps(29,end) infinite;
}

#boas-vindas h1:nth-child(2){
    font-size: 1.8rem;
    margin-bottom: 3rem;
    /* Animation */
    animation: 
    animated-text 4s steps(29,end) 5s 1 normal both,
    animated-cursor 600ms steps(29,end) infinite;
}

#boas-vindas h3:nth-child(3){
    font-size: 1.2rem;
    /* Animation */
    animation: 
    animated-text 4s steps(29,end) 9s 1 normal both,
    animated-cursor 600ms steps(29,end) infinite;
}

#boas-vindas h3:nth-child(4){
    font-size: 1.2rem;
    /* Animation */
    animation: 
    animated-text 4s steps(29,end) 13s 1 normal both,
    animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */
@keyframes animated-text{
    0%{border-right: transparent;}
    1%{border-right: solid .3rem #D27D2C;}
    99.9%{border-right: solid .3rem #D27D2C;}
    100%{border: transparent;}
    from{width: 0%;}
    to{width: 100%;}

}

/* cursor animations */
@keyframes animated-cursor{
    from{border-right-color: #D27D2C;}
    to{border-right-color: transparent;}
}