#sobre{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 87.25vh;
}

#sobre h1{
    font-size: 1.8rem;
    /* margin-top: 1.5rem; */
    margin-bottom: 3rem;
    color: #DAD45E;
}

#avatar{
    width: 12rem;
    height: 12rem;
    object-fit: contain;
    border: white solid .5rem;
    border-radius: 25%;
    outline: .25rem solid black;
}

#intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

#intro div{
    display: flex;
    flex-direction: column;
}

#intro div p:first-child{
    margin-top: .5rem;
}

#descricao{
    line-height: 2rem;
}


/* MEDIAQUERIES */
@media screen and (min-width: 576px) {
    #sobre{
        height: 85vh;
    }
    #intro {
        margin: 0 3rem 0 3rem;
    }
}

@media screen and (max-height: 320px) {
    #sobre{
        height: 120vh;
    }
    #intro {
        margin: 0 3rem 0 3rem;
    }
}

@media screen and (max-height: 576px) {
    #sobre{
        height: 75vh;
    }
    #intro {
        margin: 0 3rem 0 3rem;
    }
}

@media screen and (min-width: 768px) {
    #sobre{
        height: 97.5vh;
    }
    #intro {
        margin: 0 5rem 0 5rem;
        gap: 2rem;
    }
}


@media screen and (min-width: 992px) {

}


@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 1800px) {

}